@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Passion+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'); /* quienes */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cinzel:wght@700&family=Staatliches&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    font-size: 40px;
font-family: 'Satisfy', cursive;
display: flex ;

}
h2{
    font-family: 'Passion One', cursive;
    font-size: 42px;
    animation:scale-in-hor-left 1s cubic-bezier(.25,.46,.45,.94) both
}
@keyframes scale-in-hor-left{0%{transform:scaleX(0);transform-origin:0 0;opacity:1}100%{transform:scaleX(1);transform-origin:0 0;opacity:1}}
h1{
    font-family: 'Passion One', cursive;
    font-size: 72px;
    color:  #0609b9 ;
    display: flex ;
}


header{
background: rgb(59,59,255);
background: linear-gradient(90deg, rgba(59,59,255,0.700717787114846) 0%, rgba(4,16,232,0.700717787114846) 19%, rgba(18,179,0,0.6979166666666667) 35%, rgba(0,131,4,0.7) 65%, rgba(255,85,0,0.7) 85%);
display: flex;
align-items: center;
justify-content:flex-end;
}
.encabezado{
    -webkit-animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center 1s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: .5s;
}
.img__enca{
    animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 1s;
    transition:ease-in-out;
}

.nav-item a {
    font-family: 'Kaushan Script', cursive;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
    animation:scale-up-center .6s ease-out both;
    animation:scale-in-ver-top .5s cubic-bezier(.25,.46,.45,.94) both;
}
.navbar-nav{
    transition: 1s;
    animation:scale-up-center .6s ease-out both;
    animation:scale-in-ver-top .5s cubic-bezier(.25,.46,.45,.94) both;
}
.nav-item:hover{
    transform: scale(1.2);}

.cuerpo{
    width: 100%;
    height: 85.8vh;
    background-image: url(../imagenes/cancha.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sub__entit, .sub__ensubtit{
    animation:focus-in-expand 1s cubic-bezier(.25,.46,.45,.94) 1 both;
}

.sub__ensubtit{
    color: black;
    font-weight: bold;
}
/* PIE */

.pie{
    font-family: 'Varela Round', sans-serif;
    background: rgb(244,88,21);
    background: linear-gradient(90deg, rgba(244,88,21,0.8379726890756303) 19%, rgba(0,189,41,1) 57%, rgba(14,34,175,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
@keyframes scale-in-bottom{0%{transform:scale(0);transform-origin:50% 100%;opacity:1}100%{transform:scale(1);transform-origin:50% 100%;opacity:1}}
.img__pelo{
    background-color: none;
    animation:scale-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both
}
.pie__contacto a, .pie__prof, .pie__ubi a{
    color: black;
    text-decoration: none;

}
.pie__contacto, .pie__ubi, .pie__prof{
    animation:scale-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
    animation-delay: 0.8s;
    
}
.pie__contacto:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
    
}

.pie__ubi:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.3);}

/*QUIENES SOMOS*/
.quienes__cuerpo{
background-color: #D7E9F7;
}
.parte1__qui, .img__staff{animation:rotate-in-tl 1s cubic-bezier(.25,.46,.45,.94) both

}@keyframes rotate-in-tl{0%{transform:rotate(-360deg);transform-origin:top left;opacity:0}100%{transform:rotate(0deg);transform-origin:top left;opacity:1}}

.accordion-header{
    font-family: 'Varela Round', sans-serif;
    color: black;
    font-weight: bold;
}
.cuerpo__quienes{
    margin-bottom: 20px;
    margin-top: 0;
}
.img__staff{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 70px;
    padding: 10px;
    background-color: #ff5500;
}
.img__staff:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.1);
background-color: #0609b9;
}


/*CATEGORIAS*/
.cat__cuerpo{
    background-color: #D7E9F7;
}
.carrete{
    animation:fade-in-bck 2s cubic-bezier(.39,.575,.565,1.000) both
}@keyframes fade-in-bck{0%{transform:translateZ(80px);opacity:0}100%{transform:translateZ(0);opacity:1}}
.text__cate{
    animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both
}@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
/*HORARIOS*/
.horarios{    background-color: #D7E9F7;}  
.card-text{    font-weight: bold;
    color: black;

} 


/*CONTACTO*/
.contacto{
background-color: #D7E9F7;
}
.contacto__titulo{
    display: flex;
    justify-content: center;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    padding: 10px;
    animation:scale-up-center .6s ease-out both;
}
.enlace__con{
    color: black;
}
.logo_con{
    width: 40px;
    height: 40px;
}
.text__contacto{
    margin-top: 20px;
    color: black;
    font-weight: bold;
}
.con__mail{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    grid-area: con__mail;
}

.con__wha{
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: con__wha;
}
.con__wha:hover{
    transform: scale(1.2);
}
.con__tex{
    grid-area: con__tex;
    text-align:center;
    animation:focus-in-expand 1s cubic-bezier(.25,.46,.45,.94) 1 both
}
.con__insta{
    display: flex;
    align-items: center;
    gap: 10px;
    grid-area: con__insta;
}
.con__insta:hover{
    transform: scale(1.2);
}
.con__ubi{
    grid-area: con__ubi;
}
.ubi__tit:hover{
    transform: scale(1.2);
}
.enlaces_con{
    -webkit-animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand 1s cubic-bezier(.215,.61,.355,1.000) both;
    color: black;
    text-decoration: none;
    animation-delay: 1.5s;
}
.ubi__tit{
    display: flex;
    justify-content: center;
}
.mapa{
    display: flex;
    justify-content: center;
}





/*MOBILE*/

@media screen and ( max-width: 480px){

    /*INDEX*/

    header{
    width: 100%;
    flex-direction: column;
}
.lista__menu{ 
    gap: 5px;
}
h1{
    font-size:50px;
}
h4{
    font-size: 13px ; 
}
.pie{
    flex-direction: column;
}

/*QUIENES SOMOS*/

.cuerpo__quienes{
    margin: 0;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "mision"
    "paraqui "
    "vision"
    " staff__img "
    " staff";
    align-items: center;
}

.img__staff{
    width: 100%;
}
.mision{
    height: 200px;
}
.paraqui{
    width: 100%;
}

/*CATEGORIAS*/
.tabla{
    flex-wrap: wrap;
}
.cat__titulo{
    margin-left: 35px;
}
.imagen__2008, .imagen__2009, .imagen__2010, .imagen__2011, .imagen__2012, .imagen__2013, .imagen__2014{
    height: 200px;
}
.cat__texto{
    font-size: 12px;
}

/*JARDIN*/
.jardin{
    width: 100%;
}
.jardin__titulo{
    font-size: 40px;
}
.jar__cuerpo{
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "jar__img1"
    "jar__tex"
    "jar__video"
    "jar__img2"
    "jar__tex1";
}
.jar__img1{
    width: 80%;
    padding: 10px;
    margin: 20px;
}
.jar__video{
    width: 100%;
}

/*HORARIOS*/

.hor__cuerpo{
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "hor__tex"
    "hor__img"
    "hor__subt"
    "hor__tab";
    align-items: center;
}
.hor__img{
    width: 70%;
}
.hor__tex{
    padding: 25px;
}

/*CONTACTO*/

.con__cuerpo{
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "con__tex"
    "con__wha"
    "con__insta"
    "con__mail"
    "con__ubi";
    align-items: center;
}
}   

/*ANIMISTA*/


@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}



@keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}



@keyframes scale-in-ver-top{0%{transform:scaleY(0);transform-origin:100% 0;opacity:1}100%{transform:scaleY(1);transform-origin:100% 0;opacity:1}}


@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}


@keyframes slide-in-elliptic-bottom-fwd{0%{transform:translateY(600px) rotateX(30deg) scale(0);transform-origin:50% 100%;opacity:0}100%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% -1400px;opacity:1}}


@keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}


@-webkit-keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes fade-in-left{0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}