/*PIE*/
$redes: (
  wh: #38fa4165,
  ins: #ec3ba860,
  mail: #5353ff5d,
  fondo: #d7e9f7,
);
@mixin flex-text($align, $justify, $text) {
  align-items: $align;
  justify-content: $justify;
  text-align: $text;
}
